:root {
    --cor-primaria: #3b2f63;
    --cor-secundaria: #c8bcf1;
    --cor-fundo: #eef5ff; /* Usada no fundo da pagina */
    --cor-card: #ffffff;  /* Usada nos posts */
    --cor-texto: #151428;
    --cor-contraste: #f3eef7;
    --cor-botao: #f9f9f9;
    --cor-destaque: #ffd166;
    --cor-nota: #ff8c00;
}

.tema-escuro {
    --cor-primaria: #bfb4e4;
    --cor-secundaria: #3b2f63;
    --cor-fundo: #121212; /* Fundo escuro */
    --cor-card: #1e1e2e;  /* Posts escuros */
    --cor-texto: #e6e6e6; /* Texto claro */
    --cor-contraste: #2a283e;
    --cor-botao: #2b2b36;
    --cor-destaque: #ffd166;
    --cor-nota: #ffaa33;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: var(--cor-fundo); /* Agora reage ao tema */
    color: var(--cor-texto);
}

header {
    background: var(--cor-primaria);
    color: var(--cor-contraste);
    text-align: center;
    padding: 25px;
}

header p {
    color: var(--cor-destaque);
}

main {
    width: 80%;
    margin: auto;
    padding: 20px;
}

.post {
    background: var(--cor-card); /* Usa a nova variavel de card */
    padding: 18px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}

.post h2 {
    color: var(--cor-primaria);
}

.nota {
    color: var(--cor-nota);
    font-weight: bold;
}

footer {
    background: var(--cor-primaria);
    color: var(--cor-fundo);
    text-align: center;
    padding: 15px;
}

.btn-tema-escuro{
    position: fixed;
    bottom: 16px;
    right: 16px;
    font-size: 32px;
    padding: 12px;
    background-color: var(--cor-primaria);
    border-radius: 50%;
}